.HeaderClubO {
  width: 100px;
  height: 38px;
  margin: 0 10px 0 10px;
  padding-top: 2px;
  float: left;
}
.club-O_title {
  font-size: 11px;
  line-height: 13px;
}
.club-O_link {
  color: #248a9c;
  font-size: 11px;
  line-height: 13px;
}
